# An√°lise Explorat√≥ria de Dados (EDA)

Este notebook realiza uma An√°lise Explorat√≥ria de Dados (EDA) no dataset de alugu√©is tempor√°rios em Nova York, obtidos no drive do desafio de ci√™ncia de dados. Os principais objetivos s√£o:

1. Compreender a estrutura dos dados.
2. Identificar e tratar valores ausentes e inconsist√™ncias.
3. Explorar rela√ß√µes entre vari√°veis relevantes.
4. Gerar insights iniciais para a modelagem de pre√ßos.

<details>
<summary><h2>üé® 1. Setup
</h2></summary>

```python
# Carregar as bibliotecas
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Carregar o dataset
file_path = os.path.join('..', 'data', 'dirty_dataset.csv')
df = pd.read_csv(file_path)

# Visualizar as primeiras linhas
df.head()
</details>
```

In [2]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Carregar o dataset
file_path = os.path.join('..', 'data', 'dirty_dataset.csv')
df = pd.read_csv(file_path)

# Visualizar as primeiras linhas
df.head()

,id,nome,host_id,host_name,bairro_group,bairro,latitude,longitude,room_type,price,minimo_noites,numero_de_reviews,ultima_review,reviews_por_mes,calculado_host_listings_count,disponibilidade_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
1,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
2,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
3,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
4,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129